<style>
    body{
      background-color: dodgerblue;
        opacity: 0.6;
      color: black;
    }
    h1{
      background-color: black;
      color: white;
      font-style: oblique;
}
ul{
    list-style-type: square;
}
      </style>

